*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Poppins,sans-serif;

}



body{

color:white;

}



.background{

position:fixed;

width:100%;
height:100%;

z-index:-1;


background:
linear-gradient(
120deg,
#667eea,
#764ba2,
#ff758c
);


}





header{

display:flex;

justify-content:space-between;

align-items:center;


padding:25px 8%;


}



.logo{

font-size:28px;

font-weight:700;


}



nav a{


color:white;

text-decoration:none;

margin-left:30px;


}



.hero{


min-height:90vh;


display:flex;


align-items:center;


justify-content:center;


gap:70px;


padding:50px 8%;


}



.content{

width:500px;

}



.content h1{


font-size:60px;

line-height:1.1;


}



.content p{


margin-top:20px;

font-size:18px;


}




button{


margin-top:30px;


padding:15px 35px;


border:none;


border-radius:40px;


background:white;


color:#764ba2;


font-size:18px;


cursor:pointer;


}





.upload-card{


width:420px;


padding:35px;


background:

rgba(255,255,255,.15);



backdrop-filter:blur(20px);



border-radius:25px;



box-shadow:0 20px 50px rgba(0,0,0,.3);


text-align:center;


}



.drop-zone{


border:2px dashed white;


padding:35px;


border-radius:20px;


margin-top:20px;


}



input{

display:none;

}



label{


display:block;


background:white;


color:#764ba2;


padding:15px;


border-radius:30px;


cursor:pointer;


}



.analyze-btn{


width:100%;


background:#ffd369;


color:black;


}






section{


padding:70px 8%;


text-align:center;


}



.feature-grid{


display:grid;


grid-template-columns:repeat(4,1fr);


gap:25px;


margin-top:40px;


}




.feature{


padding:30px;


border-radius:20px;


background:

rgba(255,255,255,.15);



backdrop-filter:blur(10px);



transition:.3s;


}



.feature:hover{


transform:translateY(-10px);


}





.steps{


display:flex;


justify-content:center;


gap:30px;


margin-top:30px;


}



.steps span{


padding:20px;


background:white;


color:#764ba2;


border-radius:20px;


}





footer{


padding:30px;


text-align:center;


background:rgba(0,0,0,.2);


}






@media(max-width:900px){


.hero{

flex-direction:column;

}


.feature-grid{

grid-template-columns:1fr;

}


.content h1{

font-size:40px;

}


}
.prediction{

font-size:35px;
color:#ffd369;

margin:20px;

}



.score{

font-size:50px;

color:white;

margin:20px;

}



.skill{


display:inline-block;


background:rgb(194, 129, 25);


color:#764ba2;


padding:10px 18px;


border-radius:20px;


margin:5px;


}


li{

margin:10px;

font-size:18px;

}